
#countdown {
    font-size: 10em;
    text-align: center;
}

#ctrlView {
    text-align: center;
}


label {
    display: inline;
}

.pomodoros{
    text-align: center;
}

.pomodoros .reset {
    color: #ccc;
}

.pomodoros .title {
    color: red;
    margin-bottom: 0;
    padding-bottom: 0;
}
