
#countdown {
    font-size: 10em;
    text-align: center;
}

#ctrlView {
    text-align: center;
}


label {
    display: inline;
}

.pomodoros{
    margin-top: 40px;
    text-align: center;
}

.muted {
    color: #ccc;
}

.pomodoros .title {
    color: red;
    margin-bottom: 0;
    padding-bottom: 0;
}

.reveal-modal.settings {
    top: 0;
    margin-left: 0;
    width: 90%;
    left: 10%;
}


@media (min-width:1024px){
    .reveal-modal.settings {
        width: 30%;
        left: 70%;
    }
}
